<!DOCTYPE html>
<html lang="en">
<head>
    <%- include("./partials/head") %>
    <link rel="stylesheet" href="/styles/home.css">
    <title>PosTasks</title>
</head>
<body class="h-screen">
    <%- include("./partials/homenavbar") %>
    <div class="m-6 text-center h-full relative text-white align-middle" id="main">
        <div class="m-0 absolute top-1/2 left-1/2 -translate-x-1/2 -translate-y-1/2">
            <h1 class="text-4xl ">PosTasks</h1>
            <p class="text-lg">Welcome to PosTasks, a tasks app using PostgreSQL!</p>
        </div>
    </div>
</body>
</html>